{% extends "template.html" %}
{% block chart_body %}
<div>
  <section class="row text-center placeholders">
    <div class="col-2 col-sm-2 placeholder">
        <table class="table table" style="width:auto;" align="center">
            <thead>
            <tr>
            <th colspan="2" class="text-center"> General </th>
            </tr>
            </thead>
            <tbody>
            <tr class="small">
                <td class="text-left">Name:</td>
                <td class="text-left">{{ info[0]['uSkaterFname'] + ' ' + info[0]['uSkaterLname'] }}</td>
            </tr>
            <tr class="small">
                <td class="text-left">City/State:</td>
                <td class="text-left">{{ info[0]['uSkaterCity'] + ' ' + info[0]['uSkaterState'] }}</td>
            </tr>
            <tr class="small">
                <td class="text-left">Skater Type:</td>
                {% if skatertype|int() == 1 %}
                <td class="text-left">Skater (Student)</td>
                {% elif skatertype|int() == 2 %}
                <td class="text-left">Skater (Coach)</td>
                {% elif skatertype|int() == 3 %}
                <td class="text-left">Family</td>
                {% else %}
                <td class="text-left">Other Non-Skater</td>
                {% endif %}
            </tr>
            </tbody>
        </table>
    </div>
<div class="col-2 col-sm-2 placeholder">
    <table class="table table" style="width:auto;" align="center">
        <thead>
        <tr>
        <th colspan="2" class="text-center"> Membership Status </th>
        </tr>
        </thead>
        <tbody>
        <tr class="small">
            <td class="text-left">UFSA:</td>
            <td class="text-left"> {{ info[0]['uSkaterUFSAid'] }}</td>
        </tr>
        <tr class="small">
            <td class="text-left">Club:</td>
            <td class="text-left"> None </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-2 col-sm-2 placeholder ">
    <table class="table table  no-wrap" style="width:auto;" align="center">
        <thead>
        <tr>
        <th colspan="2" class="text-center"> Current Training Information </th>
        </tr>
        </thead>
        <tbody>
          <tr class="small">
              <td class="text-left">Highest Test Passed:</td>
              <td class="text-left"> None </td>
          </tr>
        <tr class="small">
            <td class="text-left">Coach:</td>
            <td class="text-left"> {{ info[0]['coach_fname'] }} {{ info[0]['coach_lname'] }} </td>
        </tr>
        <tr class="small">
            <td class="text-left">Rink:</td>
            <td class="text-left"> None </td>
        </tr>
        </tbody>
    </table>
</div>
</section>
</div>
<div>
<section class="row text-center placeholders">
<div class="col-3 col-sm-3 placeholder">
    <table class="table table" style="width:auto;" align="center">
        <thead>
        <tr>
        <th colspan="2" class="text-center"> Current Active Skate (On Ice) </th>
        </tr>
        </thead>
        <tbody>
        <tr class="small">
            <td class="text-left">Boot:</td>
            <td class="text-left">{{ skateIce[0]['bootsName'] + ' ' + skateIce[0]['bootsModel'] }} </td>
        </tr>
        <tr class="small">
            <td class="text-left">Blades</td>
            <td class="text-left">{{ skateIce[0]['bladesName'] + ' ' + skateIce[0]['bladesModel'] }} </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-3 col-sm-3 placeholder">
    <table class="table table" style="width:auto;" align="left">
        <thead>
        <tr>
        <th colspan="2" class="text-center"> Current Active Skate (Off Ice) </th>
        </tr>
        </thead>
        <tbody>
        <tr class="small">
            <td class="text-left">Boot:</td>
            <!-- <td class="text-left">{{ skateOff[0]['bootsName'] + ' ' + skateOff[0]['bootsModel'] }} (Size {{ skateOff[0]['bootsSize'] }})</td> -->
        </tr>
        <tr class="small">
            <td class="text-left">Blades</td>
            <!-- <td class="text-left">{{ skateOff[0]['bladesName'] + ' ' + skateOff[0]['bladesModel'] }} (Size {{ skateOff[0]['bladesSize'] }})</td> -->
        </tr>
        </tbody>
    </table>
</div>
</section>
<section class="row text-center placeholders">
  <div class="col-6 col-sm-6 placeholder">
    <table class="table table-striped" style="width:auto;" align="center" >
      <thead>
        <tr>
         <th colspan="4"  class="text-center"> All Skate Configurations </th>
         </tr>
    </thead><tbody>

    {% for i in skates %}
        <tr class="small"><td>{{i['bootsName']}}</td><td>{{i['bootsModel']}}</td><td>{{i['bladesName']}}</td><td>{{i['bladesModel']}}</td></tr>
    {% endfor %}

    </tbody>
    </table>
    </div>



</section><div><div>
{% endblock %}
