{% extends "template.html" %}
{% block chart_body %}
<div>
  <section class="row text-center placeholders">
</section>
</div>
<div>
<section class="row text-center placeholders">
<div class="col-3 col-sm-3 placeholder">
    <table class="table table" style="width:auto;" align="center">
        <thead>
        <tr>
        <th colspan="2" class="text-center"> Current Active Skate (On Ice) </th>
        </tr>
        </thead>
        <tbody>
        <tr class="small">
            <td class="text-left">Boot:</td>
            <td class="text-left">{{ skateIce[0]['bootsName'] + ' ' + skateIce[0]['bootsModel'] }} </td>
        </tr>
        <tr class="small">
            <td class="text-left">Blades</td>
            <td class="text-left">{{ skateIce[0]['bladesName'] + ' ' + skateIce[0]['bladesModel'] }} </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-3 col-sm-3 placeholder">
    <table class="table table" style="width:auto;" align="left">
        <thead>
        <tr>
        <th colspan="2" class="text-center"> Current Active Skate (Off Ice) </th>
        </tr>
        </thead>
        <tbody>
        <tr class="small">
            <td class="text-left">Boot:</td>
            <!-- <td class="text-left">{{ skateOff[0]['bootsName'] + ' ' + skateOff[0]['bootsModel'] }} (Size {{ skateOff[0]['bootsSize'] }})</td> -->
        </tr>
        <tr class="small">
            <td class="text-left">Blades</td>
            <!-- <td class="text-left">{{ skateOff[0]['bladesName'] + ' ' + skateOff[0]['bladesModel'] }} (Size {{ skateOff[0]['bladesSize'] }})</td> -->
        </tr>
        </tbody>
    </table>
</div>
</section>
<section class="row text-center placeholders">
  <div class="col-6 col-sm-6 placeholder">
    <table class="table table-striped" style="width:auto;" align="center" >
      <thead>
        <tr>
         <th colspan="4"  class="text-center"> All Skate Configurations </th>
         </tr>
    </thead><tbody>

    {% for i in skates %}
        <tr class="small"><td>{{i['bootsName']}}</td><td>{{i['bootsModel']}}</td><td>{{i['bladesName']}}</td><td>{{i['bladesModel']}}</td></tr>
    {% endfor %}

    </tbody>
    </table>
    </div>



</section><div><div>
{% endblock %}
