{% extends "template.html" %}

{% block chart1 %}
<section class="row text-center placeholders">
<div class="col-6 col-sm-2 placeholder">

    <table class="table table" style="width:auto;" align="center">
        <thead>
        <tr>
            <th colspan="2" class="text-center"> Financial Overview </th>
        </tr>
        </thead>
        <tbody>
        <tr class="small">
            <td class="text-right">${{ costs[0] }}</td>
            <td class="text-left"> Equipment </td>
        </tr>
        <tr class="small">
            <td class="text-right">${{ costs[1] }}</td>
            <td class="text-left"> Maintenance </td>
        </tr>
        <tr class="small">
            <td class="text-right">${{ costs[2] }}</td>
            <td class="text-left"> Class Fees </td>
        </tr>
        <tr class="small">
            <td class="text-right">${{ costs[3] }}</td>
            <td class="text-left"> Performance Fees </td>
        </tr>
        <tr class="small">
            <td class="text-right">${{ costs[4] }}</td>
            <td class="text-left"> Membership Fees </td>
        </tr><tr class="small">
            <td class="text-right">${{ costs[5] }}</td>
            <td class="text-left"> Competition Fees </td>
        </tr>
        <tr class="small">
            <td class="text-right">${{ costs[6] }}</td>
            <td class="text-left"> Ice Time </td>
        </tr>
        <tr class="small">
            <td class="text-right">${{ costs[7] }}</td>
            <td class="text-left"> Coaching Cost </td>
        </tr>
        </tbody>
    </table>
              <h4>Total</h4>
              <div class="text-muted">${{ costs[8] }}</div></div>

    <div class="col-4 col-sm-2 placeholder">
        <canvas id="pie-chart" width="250" height="250" style="display: block;"></canvas>
    </div>

    <script>
        new Chart(document.getElementById("pie-chart"), {
        type: "pie",
        data: {
          labels: ["Equipment", "Maintenance", "Class Fees", "Performance", "Membership Fees", "Competition Fees", "Ice Time", "Coaching Cost"],
          datasets: [{
          label: "Totals",
          backgroundColor: ["#3e95cd","#8e5ea2","#3cba9f","#e8c3b9","#c45850","#4cc5b7","#d816e0","#3d86e8"],
          data: [{{ costs[0] }},{{ costs[1] }},{{ costs[2] }},{{ costs[3] }},{{ costs[4] }},{{ costs[5] }},{{ costs[6] }},{{ costs[7] }}]
          }]
        },
        options: {
          title: {
            display: true,
            text: "Financial Totals"
          },
         legend: {
            display: false,
            }
        }
    });
    </script>


<div class="col-6 col-sm-2 placeholder">
   <div> <canvas id="doughnut-chart" width="227" height="227" style="display: block; width: 227px; height: 227px;"></canvas></div>
<script>
new Chart(document.getElementById("doughnut-chart"), {
    type: "doughnut",
    data: {
      labels: ["Coached", "Uncoached"],
      datasets: [
        {
          label: "Monthly Training",
          backgroundColor: ["#3d86e8", "#d816e0"],
          data: [{{ hours[1] }},{{ hours[0] }}]
        }
      ]
    },
    options: {
      title: {
        display: false,
        text: "Amount of hours coached vs uncoached"
      }
    }
});
</script>
    <table class="table table" style="width:auto;" align="center">
        <thead>
        <tr>
            <th colspan="2" class="text-center"> Monthly Training </th>
        </tr>
        </thead>
        <tbody>
        <tr class="small">
            <td class="text-right">{{ hours[1] }}</td>
            <td class="text-left"> Coached Hours </td>
        </tr>
        <tr class="small">
            <td class="text-right">{{ hours[0] }}</td>
            <td class="text-left"> Uncoached Hours </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="col-6 col-sm-2 placeholder">

<div>
    <canvas id="doughnut-chart2" width="216" height="216" style="display: block; width: 216px; height: 216px;"></canvas>
</div>
<script>
new Chart(document.getElementById("doughnut-chart2"), {
    type: "doughnut",
    data: {
      labels: ["Time On", "Time Remaining"],
      datasets: [
        {
          label: "Hours Overview",
          backgroundColor: ["#70db70", "#009900"],
          data: [{{ maint[2] }},{{ maint[3] }}]
        }
      ]
    },
    options: {
      title: {
        display: false,
        text: "Hours Overview"
      }
    }
});
</script>

    <table class="table table" style="width:auto;" align="center">
        <thead>
        <tr>
            <th colspan="2" class="text-center"> Maintenance </th>
        </tr>
        </thead>
        <tbody>
        <tr class="small">
            <td class="text-right">{{ maint[2] }}</td>
            <td class="text-left"> Current Hours </td>
        </tr>
        <tr class="small">
            <td class="text-right">{{ maint[3] }}</td>
            <td class="text-left"> Hours Remaining </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</section>
{%endblock%}


{% block chart_body %}
<div>
<div class="card-footer small text-muted">Session Table</div>
<table class="table table-striped"> <thead>
<tr><td>Date</td><td>Skate Time</td><td>Ice Cost</td><td>Skate Type</td><td>Coach Time</td><td>Coach Name</td><td>Coach Rate</td><td>Journal</td><td>Rink Name</td><td>City</td><td>State</td></tr>
</thead><tbody>

{% for i in chart_body %}
    {% if i['coach_rate'] == 0 %}
    {%- set cRate = '--' %}
    {%- else %}
    {%- set cRate = i['coach_rate'] %}
    {% endif %}
    {%- if i['has_video'] == 1 %}
    <tr><td> {{i['date']}} </td><td>  {{i['ice_time']}}  </td><td> {{i['ice_cost']}} </td><td> {{i['type']}} </td><td> {{i['coach_time']}} </td><td> {{i['coach_fname']}} {{i['coach_lname']}}</td><td> {{cRate}} </td><td> <a href="/journal?date={{i['date']}}"><img src="{{ url_for('static', filename='images/filmreel.png') }}" style="width:32px;height:32px;"></a></td><td> {{i['location_id']}} </td><td> {{i['location_city']}} </td><td> {{i['location_state']}} </td></tr>
    {% else %}
    <tr><td> {{i['date']}} </td><td>  {{i['ice_time']}}  </td><td> {{i['ice_cost']}} </td><td> {{i['type']}} </td><td> {{i['coach_time']}} </td><td> {{i['coach_fname']}} {{i['coach_lname']}}</td><td> {{cRate}} </td><td> -- </td><td> {{i['location_id']}} </td><td> {{i['location_city']}} </td><td> {{i['location_state']}} </td></tr>
    {% endif %}
{% endfor %}

</tbody>
</div>
{% endblock %}

{% block chart_js %}
<script> var apiUrl_sessions="/api/json/sessionsBrief";</script>
<script src="{{ url_for('static', filename='js/datatables.js') }}"></script>

{% endblock %}
