{% extends "template.html" %}

{% block chart1 %}
<section class="row text-center placeholders align-items-center">
<div class="col-2 col-sm-2 placeholder "></div>
  <div class="col-2 col-sm-2 placeholder ">
    <canvas id="doughnut-chart20" width="1016" height="1016" style="display: block; width: 1016px; height: 1016px;"></canvas>
  </div>

  <div class="col-4 col-sm-4 placeholder">
    <canvas id="doughnut-chart00" width="1516" height="1516" style="display: block; width: 1516px; height: 1516px;"></canvas>
    </div>

  <div class="col-2 col-sm-2 placeholder">
    <canvas id="doughnut-chart10" width="1016" height="1016" style="display: block; width: 1016px; height: 1016px;"></canvas>
</div>
<div class="col-2 col-sm-2 placeholder "></div>
</section>
{%endblock%}


{% block chart_body %}
<div>
<div class="card-footer small text-muted">Session Table</div>
<table class="table table-striped"> <thead>
<tr><td>Date</td><td>Skate Time</td><td>Ice Cost</td><td>Skate Type</td><td>Coach Time</td><td>Coach Name</td><td>Coach Rate</td><td>Journal</td><td>Rink Name</td><td>City</td><td>State</td></tr>
</thead><tbody>

{% for i in chart_body %}
    {% if i['coach_rate'] == 0 %}
    {%- set cRate = '--' %}
    {%- else %}
    {%- set cRate = i['coach_rate'] %}
    {% endif %}
    {%- if i['has_video'] == 1 %}
    <tr><td> {{i['date']}} </td><td>  {{i['ice_time']}}  </td><td> {{i['ice_cost']}} </td><td> {{i['type']}} </td><td> {{i['coach_time']}} </td><td> {{i['coach_fname']}} {{i['coach_lname']}}</td><td> {{cRate}} </td><td> <a href="/journal?date={{i['date']}}"><img src="{{ url_for('static', filename='images/filmreel.png') }}" style="width:32px;height:32px;"></a></td><td> {{i['location_id']}} </td><td> {{i['location_city']}} </td><td> {{i['location_state']}} </td></tr>
    {% else %}
    <tr><td> {{i['date']}} </td><td>  {{i['ice_time']}}  </td><td> {{i['ice_cost']}} </td><td> {{i['type']}} </td><td> {{i['coach_time']}} </td><td> {{i['coach_fname']}} {{i['coach_lname']}}</td><td> {{cRate}} </td><td> -- </td><td> {{i['location_id']}} </td><td> {{i['location_city']}} </td><td> {{i['location_state']}} </td></tr>
    {% endif %}
{% endfor %}

</tbody>
</div>
{% endblock %}

{% block chart_js %}
<script> var apiUrl_sessions="/api/json/sessionsBrief";</script>
<script src="{{ url_for('static', filename='js/datatables.js') }}"></script>

<script> var apiUrl_budget="/api/json/budget";</script>
<script src="{{ url_for('static', filename='js/charts_budget.js') }}" type="text/javascript"></script>

<script> var apiUrl_monthlyPie="/api/json/monthlyPie";</script>
<script src="{{ url_for('static', filename='js/charts_monthlyCoaching.js') }}" type="text/javascript"></script>

<script> var apiUrl_maintClock="/api/json/maintClock";</script>
<script src="{{ url_for('static', filename='js/charts_maint.js') }}" type="text/javascript"></script>

{% endblock %}
