<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="SkateTrax Dashboard">
    <meta name="author" content="Ashley Young">

    <title>SkateTrax</title>

    <!-- Bootstrap core CSS-->
    <link href="{{ url_for('static', filename='v3/css/bootstrap-table.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>

  </head>

  <body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
      <a class="navbar-brand mr-1" href="/">Skatetrax</a>
      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>
      <!-- Navbar Search -->

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Activity Log</a>
            <div class="dropdown-divider"></div>
            <a class="nav-item">
              <button class="btntxt" data-modal="modalZero">Login</button></a>
              <a class="dropdown-item" href="logout">Log Out</a>
          </div>
          </li>
          <li class="nav-item"><button class="btntxt" data-modal="modalOne">Update Time</button></li>
          <li class="nav-item"><button class="btntxt" data-modal="modalTwo">Add Maintenance</button></li>
      </ul>
   </div>
</div>
<ul class="navbar-nav d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <li class="nav-item dropdown no-arrow ">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fas fa-book fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right " aria-labelledby="userDropdown">
            <a class="dropdown-item" target="_blank" href="https://docs.google.com/spreadsheets/d/10NnDnV2HpXcRsGWtajCnOiUfoitcLQloFosvLXYcEMU">Original Spreadsheet</a>
            <a class="dropdown-item" target="_blank" href="https://github.com/kami-nashi/skatetrax">Github Repo</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" >How To Use</a>
          </div>
        </li>
      </ul>

    </nav>
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard"><i class="fas fa-fw fa-tachometer-alt"></i><span class="px-2">Dashboard</span></a>
          <a class="nav-link" href="/ice_time"><i class="fas fa-table fa-table-alt"></i><span class="px-2">Ice Time</span></a>
          <a class="nav-link" href="/maintenance"><i class="fas fa-wrench fa-wrench-alt"></i><span class="px-2">Maintenance</span></a>
          <a class="nav-link" href="/journal"><i class="fa fa-edit fa-edit-alt"></i><span class="px-2">Journal</span></a>
          <a class="nav-link" href="/skater_overview"><i class="fas fa-address-card fa-address-card-alt"></i><span class="px-2">Skater Profile</span></a>
        </li>
      </ul>

      <div id="content-wrapper">
       <div id="modalOne" class="modal" style="display: none;">
       <div class="modal-content">
       <div class="modal-header">
       <h2>Add Session Time</h2>
       <span class="close">×</span>
       </div>
       <div>
       <form action='submit_modalSession' method='POST'><div class="navbar navbar-expand static-top">
         <span class="px-2"> Date: <input size='8' type='text' name='date' id='date' value="{{ calDate }}"/></span>
          <span class="px-2"> Ice Time: <input size='4' type='text' name='ice_time' id='ice_time'/></span>
          <span class="px-2"> Ice Cost: <input size='6' type='text' name='ice_cost' id='ice_cost'/></span>
          <span class="px-2"> Skate Type: <select name="skate_type">
          {% for i in modal1[2] %}
              "<option value="{{ i['id'] }}">{{ i['type'] }}</option>"
          {% endfor %}
          </select>
          </span>
          <span class="px-2"> Rink Location: <select name="rLocation">
          {% for i in modal1[1] %}
              "<option value="{{ i['id'] }}">{{ i['location_id'] }}</option>"
          {% endfor %}
          </select></span>
          <span class="px-2"> Coach: <select name="coach">
          {% for i in modal1[0] %}
              "<option value="{{ i['id'] }}">{{ i['coach_fname'] }} {{ i['coach_lname'] }}</option>"
          {% endfor %}
          </select>
          </span class="px-2"><span> Coach Time: <input size='4' type='text' name='coach_time' id='coach_time'value="0"/></span>
         <span class="px-2"><input type="submit" class="btntxt" value="Add Time"></span></form>
       </div>
       </div>
       </div>
      </div>
       <div id="modalTwo" class="modal" style="display: none;">
       <div class="modal-content">
       <div class="modal-header">
       <h2>Add Session Time</h2>
       <span class="close">×</span>
       </div>
       <div>
          <form action='submit_modalMaintenance' method='POST'><div class="navbar navbar-expand static-top">
          <span class="px-2"> Date: <input size='8' type='text' name='m_date' id='m_date' value="{{ calDate }}"/></span>
          <span class="px-2"> Hours On: <input size='4' type='text' name='m_hours_on' id='m_hours_on'/></span>
          <span class="px-2"> Maintenance Cost: <input size='6' type='text' name='m_cost' id='m_cost'/></span>
          <span class="px-2"> Shop Location: <select name="locationID">
          {% for i in modal1[1] %}
              "<option value="{{ i['id'] }}">{{ i['location_id'] }}</option>"
          {% endfor %}
          </select></span>
              <span class="px-2"><input type="submit" class="btntxt" value="Add Time"></span></div>
       </form>

       </div>
       </div>
      </div>

      <div id="modalZero" class="modal" style="display: none;">
      <div class="modal-content">
      <div class="modal-header">
      <h2>Login</h2>
      <span class="close">×</span>
      </div>
      <div>
         <form action='login' method='POST'><div class="navbar navbar-expand static-top">
         <span class="px-2"> Username: <input size='12' type='text' name='username' id='username' value=""/></span>
         <span class="px-2"> Password: <input size='12' type='text' name='password' id='password'/></span>
         <span class="px-2"><input type="submit" class="btntxt" value="Login"></span></div>
      </form>

      </div>
      </div>
     </div>

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">Hello, {{ ses['fName'] }} {{ ses['lName'] }}! {{ thour[0] }} Tracked Hours. </li>
          </ol>
          <!-- Area Chart Example-->
          <div class="card mb-3">
            {% block chart1 %}{% endblock %}
              <div class="card-body">
           {% block chart_body %}{% endblock %}

            </div>

          </div>

          <!-- DataTables Example -->
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->

          <div class="container my-auto">
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login to enter time</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Login</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Page level plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin.min.js') }}"></script>
    <!-- Demo scripts for this page-->

   {% block chart_js %}{% endblock %}

  </body>

</html>
